.gr-home {
    // background: #5D4157;
    // background: -webkit-linear-gradient(to left, #5D4157 , #A8CABA);
    // background: linear-gradient(to left, #5D4157 , #A8CABA);

    background: #fd746c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #fd746c , #ff9068); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #fd746c , #ff9068); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
}

.gr-100 {
    // background: #ddd6f3;
    // background: -webkit-linear-gradient(to left, #ddd6f3 , #faaca8);
    // background: linear-gradient(to left, #ddd6f3 , #faaca8);

    background: #F1F2B5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #F1F2B5 , #135058); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #F1F2B5 , #135058); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
}

.gr-contact {    
    // background: #EFEFBB;
    // background: -webkit-linear-gradient(to left, #EFEFBB , #D4D3DD);
    // background: linear-gradient(to left, #EFEFBB , #D4D3DD);

    background: #c2e59c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #c2e59c , #64b3f4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #c2e59c , #64b3f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
}